@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    
    margin: 0;
    border-width: 0;
    padding: 0;
}

#site-header-div {
    padding-top: 10px;
    background-color:#1F2833;
    
}

#site-header {
    font-family: 'Nanum Gothic', sans-serif;
    color: #66FCF1;
    font-size: 150px;
    text-align: center;
}

#site-header-p {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    top: 40%;
    border: 0;
    padding-left: 30%;
    padding-right: 30%;
    color: #C5C6C7;
    position: absolute;
    

}

#site-navigator {
    font-family: 'Nanum Gothic', sans-serif;
    color: #66FCF1;
    padding-left: 50px;
    background-color: #1F2833;
    background-image: url(.\assets\3-lines.png);
    border-style: solid;
    border-color: transparent;

}